<script setup lang="ts">
import { ref } from "vue";

const First = ref(0);
const Second = ref(0);

const in_first = () => {
  First.value = First.value + 1;
  Second.value = First.value * 2;
};
const del_Se = () => {
  if (Second.value > 0) {
    Second.value = Second.value - 1;
  }
  if (First.value > 0) {
    First.value = First.value - 1;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>
                  <div>First Component</div>
                  <div>{{ First }}</div>
                </v-card-title>
                <v-card-actions>
                  <v-btn variant="outlined" @click="in_first">INCREMENT</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>
                  <div>Second Component</div>
                  <div>{{ Second }}</div>
                </v-card-title>
                <v-card-actions>
                  <v-btn variant="outlined" @click="del_Se">DECREASE</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style></style>
