<script lang="ts" setup>
import { ref } from "vue";

const number = ref();
</script>

<template>
  <br />
  <v-form>
    <v-text-field
      label="Please input Number"
      v-model.number="number"
      :rules="[(v) => !!v.length || ' Number is not empty!!']"
    ></v-text-field>
  </v-form>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-container>
          <v-row>
            <v-col cols="1" v-for="(item, index) of number" :key="index">
              {{ item }}</v-col
            >
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
